@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-section{
    background: url(/assets/images/Wedding-image.png) no-repeat;
}
/* .book {
    background: url(/assets/images/rosette-left.svg) left no-repeat, url(/assets/images/rosette-right.svg) right top no-repeat;
    height: 200px;
} */
